/* Taille du logo  */
.navbar-brand .logo {
  display: block;
  height: clamp(100px, 14vh, 130px);
  width: auto;
  margin-left: 3vw;
}

/* Liens du menu en noir (états normal/hover/actif) */
.navbar .nav-link {
  color: #000 !important;                 
}
.navbar .nav-link:hover {
  color: #5f5f5f !important;
  opacity: .8;
}
.navbar .nav-link.active {
  color: #000 !important;
  border-bottom: 2px solid var(--secondary-color);
  border-radius: 0;
}

@media (max-width: 768px) {
  .navbar-brand .logo {
    max-height: 60px;  /* ajuste la hauteur */
    width: auto;       /* conserve les proportions */
  }

   .navbar .navbar-brand {
    margin: 0 auto;
  }
}

/* bouton “Connexion”  */
.btn-outline-primary {
  border-width: 2px;
  color: var(--primary-color);
  border-color: var(--primary-color);

  &:hover,
  &:focus {
    background-color: var(--primary-color);
    color: #fff; 
  }
}

