/* Taille du logo  */
.navbar-brand .logo {
  display: block;
  height: clamp(100px, 14vh, 130px);
  width: auto;
  margin-left: 3vw;
}

/* Liens du menu en noir (états normal/hover/actif) */
.navbar .nav-link {
  color: #000 !important;                 
}
.navbar .nav-link:hover {
  color: #5f5f5f !important;
  opacity: .8;
}
.navbar .nav-link.active {
  color: #000 !important;
  border-bottom: 2px solid var(--secondary-color);
  border-radius: 0;
}

/* bouton “Connexion”  */
.btn-outline-primary {
  border-width: 2px;
  color: var(--primary-color);
  border-color: var(--primary-color);

  &:hover,
  &:focus {
    background-color: var(--primary-color);
    color: #fff; 
  }
}

.navbar-toggler {
  border-color: var(--primary-color); /* bordure */
}

.navbar-toggler-icon {
  background-image: none; /* on vire l’icône par défaut */
  width: 24px;
  height: 2px;
  background-color: var(--primary-color);
  display: block;
  position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: var(--primary-color);
  left: 0;
}

.navbar-toggler-icon::before {
  top: -7px;
}

.navbar-toggler-icon::after {
  top: 7px;
}
