@if (!isStatic) {
<div class="container py-4 admin" >
  <h1 class="mb-4 titre" >Administration</h1>

  <div class="row g-4">
    <div class="col-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <h2 class="h5 mb-3">Créer un client & Listing</h2>
          <app-admin-clients></app-admin-clients>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <h2 class="h5 mb-3">Créer une galerie & Listing</h2>
          <app-admin-galleries></app-admin-galleries>
        </div>
      </div>
    </div>
  </div>
</div>
} @else {
  <div class="alert alert-info my-3">
    Zone admin désactivée sur cette version statique du site.
  </div>
}